dist: xenial
language: python
python:
- '3.4'
- '3.5'
- '3.6'
- '3.7'
- 'pypy3'
matrix:
  include:
    - python: '3.8'
      install:
      - pip install --quiet --upgrade coveralls tox
      script: tox -e coverage
      after_success:
      - coveralls
install:
- pip install --quiet --upgrade tox
script: tox -e py
notifications:
  email: false
