language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- 'pypy'
- 'pypy3'
matrix:
  include:
  - python: 3.7
    dist: xenial
install:
- pip install coveralls
script: coverage run --source nested_diff setup.py test
sudo: false
after_success:
- coveralls
notifications:
  email: false
